<template>
	<div>
		<div v-show="message" class="message">
			{{ message }}
		</div>
		<article>
			<div class="status">{{ status }}</div>
			<button @click="markAsDone">Mark as Done</button>
		</article>
	</div>
</template>

<script>
	export default {
		props: {
			task: Object
		},
		data() {
			return {
				message: ""
			}
		},
		computed: {
			status() {
				return this.task.isDone? 'Terminada': 'Pendiente';
			}
		},
		methods: {
			markAsDone() {
				if (this.task.isDone) {
					return this.message = `Esta tarea ya ha sido terminada.`;
				}

				this.task.isDone = true;
				this.message = `La tarea ha sido terminada.`;
			}
		}
	}
</script>